
<!DOCTYPE html>

<html lang="ja" >
<head>
<title>ログイン | 管理画面</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">





    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" login"
  data-admin-utc-offset="32400">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">ウォータードロップ</a></h1>

        </div>


    </div>
    <!-- END Header -->







    <!-- Content -->
    <div id="content" class="colM">







<div id="content-main">



<form action="{% url 'login' %}" method="post" id="login-form">
    {% csrf_token %}
  <div class="form-row">

    <label class="required" for="id_username">ユーザー名:</label> {{ form.username }}
  </div>
  <div class="form-row">

    <label class="required" for="id_password">パスワード:</label> {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>


  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="ログイン">
  </div>
</form>

</div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
