<!doctype html>
{% load staticfiles %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
    <title>WaterDrop</title>
</head>
<body>
<!--
    <h1 class="text-success">{% static 'css/bootstrap.css' %}</h1>
-->
    <div class="container">
        <!-- ここにコンテンツを入れる -->
        <!--ヘッダー -->
        <div class="row">
            <div class="col alert alert-primary">
                <h1>WaterDrop</h1>出退勤管理システム
            </div>
        </div>
        <!--メニュー -->
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action list-group-item-primary">メニュー</li>
                    <li class="list-group-item list-group-item-action"><a href="">タイムカード</a></li>
                    <li class="list-group-item list-group-item-action">出退勤一覧</li>
                    <li class="list-group-item list-group-item-action">カレンダー</li>
                    <li class="list-group-item list-group-item-action">交通費申請</li>
                    <li class="list-group-item list-group-item-action">年末調整</li>
                    <li class="list-group-item list-group-item-action"><a href="./admin">ログイン</a></li>
                    <li class="list-group-item list-group-item-action"><a href="./admin/logout/">ログアウト</a></li>
                    <li class="list-group-item list-group-item-action"><a href="./admin">管理画面</a></li>
                    <li class="list-group-item list-group-item-action"><a href="./admin">マニュアル</a></li>
                </ul>
                <br>
            </div>
            <div class="col">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <!--フッター -->
        <div class="row">
            <div class="col alert alert-primary"><center>copy right everything free.</center></div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript">window.__admin_media_prefix__ = "{{ STATIC_URL }}admin/";</script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
</body>
</html>