<!DOCTYPE html>
{% extends "waterDropApp/base.html" %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
    {% block content %}

    <div class="col alert alert-primary"><strong>タイムカード {{year}}年{{month}}月分</strong></div>
        <form action="/timeCardEntry/" method="post">
            {%csrf_token%}
            <table class="table table-hover">
                <tr>
                    <th>日時</th>
                    <th>出社時刻</th>
                    <th>退社時刻</th>
                    <th>操作</th>
                </tr>
                <!--休日は本当はカレンダー情報から引っ張ってくるべき -->
                {% for record in records %}
                {% if record.weekDay == 5 %}
                 <tr class="table-secondary">
                {% elif record.weekDay == 6 %}
                 <tr class="table-secondary">
                {% else %}
                <tr>
                {% endif %}
                    <td>
                        {{record.date}}
                        {% if record.weekDay == 0 %}
                        (月)
                        {% elif record.weekDay == 1 %}
                        (火)
                        {% elif record.weekDay == 2 %}
                        (水)
                        {% elif record.weekDay == 3 %}
                        (木)
                        {% elif record.weekDay == 4 %}
                        (金)
                        {% elif record.weekDay == 5 %}
                        (土)
                        {% else %}
                        (日)
                        {% endif %}
                    </td>
                    <td>
                    <!--{{form.inTime}}-->
                        {% if record.inTime == '' %}
                            {{forms.inTime}}
                        {% else %}
                            {{record.inTime}}
                        {% endif %}
                    </td>
                    <td>
                        {% if record.offTime == '' %}
                            {{forms.offTime}}
                        {% else %}
                            {{record.offTime}}
                        {% endif %}
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="登録">
                    </td>
                </tr>
                {% endfor %}
            </table>
            この画面をリシテアみたいに一カ月分のデータ表示したほうがいいのでは？
            ほんとにタイムカードみたいに表示してしまえばいい。
            現状だと、休みの日とか抜けていることがわからないので、わかるように
            1か月分まとめて出したほうが良い。<br>
            休日は薄いピンクとかの改良も必要<br>
        </form>
    {% endblock %}
</body>
</html>