{% load staticfiles %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>出退勤</title>

<script type="text/javascript">window.__admin_media_prefix__ = "{%static 'admin/'%}";</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<link rel="stylesheet" type="text/css" href="{%static 'admin/css/base.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'admin/css/forms.css'%}" />
<script type="text/javascript" src="{%static 'admin/js/core.js'%}"></script>
<script type="text/javascript" src="{%static 'admin/js/admin/RelatedObjectLookups.js'%}"></script>
<script type="text/javascript" src="{%static 'admin/js/jquery.js'%}"></script>
<script type="text/javascript" src="{%static 'admin/js/jquery.init.js'%}"></script>
<script type="text/javascript" src="{%static 'admin/js/calendar.js'%}"></script>
<script type="text/javascript" src="{%static 'admin/js/admin/DateTimeShortcuts.js'%}"></script>


</head>
<body>
    <center>
        <h1>タイムカード</h1>
    <form action="timeCard/" method="post">
        {%csrf_token%}
        {{form.username}}<br>
        {{form.date}}<br>
        出社時間{{form.inTime}}<br>
        退社時間{{form.offTime}}<br>
        <input type="submit" value="登録する">
    </form>
    </center>
</body>
</html>