<!DOCTYPE html>
{% extends "waterDropApp/base.html" %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
    {% block content %}
    <div class="col alert alert-secondary"><strong>作業内容  {{date}}</strong></div>
    <form action="/work_content/edit/{{date}}" method="post">
        <table class="col-4 table table-hover">
            <tr>
                <th>作業コード</th>
                <th>作業時間</th>
            </tr>
            {% for form in work_table_forms %}
            {%csrf_token%}
            <tr>
                <td><p>{{form.work_detail_code}}</p></td>
                <td><p>{{form.work_time}}</p></td>
            </tr>
            {% endfor %}
        </table>
        <input class="btn btn-secondary" type="submit" name="edit" value="登録">
    </form>
    {% endblock %}
</body>
</html>